<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <div>
        @RenderBody()
    </div>
</body>
</html>
